* {
	margin: 0px;
	padding: 0px;
}
body {
  background: rgba(30,29,31,1);
  background: -moz-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgba(223,64,90,1)));
  background: -webkit-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
  background: linear-gradient(135deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
}
  #container {
    width:50%;
    margin: 0px auto;
    padding:15px;
    background-color:#eee;
    border-radius: 0px 0px 10px 10px;
  }
  #header {
    width: 50%;
    margin: 50px auto 0px;
    color: white;
    background: #333;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  thead {
    background:#333;
    color:white;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #ADD8E6;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  }
  .additems {
    background-color: #87314e;
    text-transform:uppercase;
    border:0;
    color:white;
    line-height: 45px;
    padding: 0 35px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom:20px;
  }
  .additems:hover {
    background:#df405a;
  }
  .additems a {
    text-decoration: none;
    color:white;
  }
  .additems a:hover {
    text-decoration:none;
    color:white;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #87314e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
	background-color: #df405a;
}
